@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<p>Add a new Client</p>

<p>As a reminder, you need to have at least one stylist added before you add a client.</p>
<p>If you haven't created a stylist, please vist @Html.ActionLink("this page", "Create", "Stylist") to add a stylist to the database.</p>

@using(Html.BeginForm())
{
  @Html.LabelFor(model => model.client_name)
  @Html.TextBoxFor(model => model.client_name)
  @Html.LabelFor(model => model.client_details)
  @Html.TextBoxFor(model => model.client_details)
  @Html.LabelFor(model=> model.Stylist)
  @Html.DropDownList("stylist_id")

  <input type="submit" value="Add a new client"/>
}

<p>@Html.ActionLink("Show all clients", "Index")</p>