@{
  Layout = "_Layout";
}
@model HairSalon.Models.Client

<h1>Client Details</h1>

<h3>@Html.DisplayNameFor(model => model.client_name): @Html.DisplayFor(model => model.client_name)</h3>
<h3>@Html.DisplayNameFor(model => model.Stylist): @Html.DisplayFor(model => model.Stylist.stylist_name)</h3>
<h3>@Html.DisplayNameFor(model => model.client_details): @Html.DisplayFor(model => model.client_details)</h3>

<p>@Html.ActionLink("Edit Client", "Edit", new {id = Model.client_id})</p>
<p>@Html.ActionLink("Delete Client", "Delete", new {id = Model.client_id})</p>
<p>@Html.ActionLink("Client list", "Index")</p>