@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h1>Add a new Stylist</h1>

@using(Html.BeginForm())
{
  @Html.LabelFor(model => model.stylist_name)
  @Html.TextBoxFor(model => model.stylist_name)

  @Html.LabelFor(model => model.stylist_details)
  @Html.TextBoxFor(model => model.stylist_details)

  <input type="submit" value="Add a new Stylist" />
}

<p>@Html.ActionLink("Show all Stylists", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>