@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist
@using HairSalon.Models

<h2>Stylist Details and Information</h2>
<h3>@Html.DisplayNameFor(model => model.stylist_name): @Html.DisplayFor(model => model.stylist_name)</h3>

@if (@Model.Client.Count == 0)
{
  <h3>No clients have been added to this stylist yet.</h3>
}
else
{
  <h3>Clients:</h3>
  <ul>
    @foreach (Client client in Model.Client)
    {
      <li>@Html.ActionLink($"{client.client_name}", "Details", "Clients", new {id = client.client_id})</li>
    }
  </ul>
}

<p>@Html.ActionLink("Edit Stylist", "Edit", new {id = Model.stylist_id})</p>
<p>@Html.ActionLink("Delete Stylist", "Delete", new {id = Model.stylist_id})</p>
<p>@Html.ActionLink("Add Client", "Create", "Clients")</p>
<p>@Html.ActionLink("Stylist list", "Index")</p>