@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h2>Edit this Stylist: @Html.DisplayFor(model => model.stylist_name)</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.stylist_id)
  @Html.LabelFor(model => model.stylist_name, new {@class = "labelcolor"})
  @Html.EditorFor(model => model.stylist_name)

  <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Stylist List", "Index")</p>